@model Volkswagen.Models.SpareOrderModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>备件订购信息 - 编辑</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SpareOrderModels</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OrderID)

        <div class="form-group">
            @Html.LabelFor(model => model.SpareID, "SpareID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SpareID", String.Empty)
                @Html.ValidationMessageFor(model => model.SpareID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpareDes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpareDes)
                @Html.ValidationMessageFor(model => model.SpareDes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderValue)
                @Html.ValidationMessageFor(model => model.OrderValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Producer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Producer)
                @Html.ValidationMessageFor(model => model.Producer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderNum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderNum)
                @Html.ValidationMessageFor(model => model.OrderNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Property, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Property)
                @Html.ValidationMessageFor(model => model.Property)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EquipmentID, "EquipmentID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EquipmentID", String.Empty)
                @Html.ValidationMessageFor(model => model.EquipmentID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maker, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Maker)
                @Html.ValidationMessageFor(model => model.Maker)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MakerNum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MakerNum)
                @Html.ValidationMessageFor(model => model.MakerNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Orderman, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Orderman)
                @Html.ValidationMessageFor(model => model.Orderman)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UseTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UseTime)
                @Html.ValidationMessageFor(model => model.UseTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitPrice)
                @Html.ValidationMessageFor(model => model.UnitPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalPrice)
                @Html.ValidationMessageFor(model => model.TotalPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mode)
                @Html.ValidationMessageFor(model => model.Mode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderFile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderFile)
                @Html.ValidationMessageFor(model => model.OrderFile)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    保存
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">修改确认</h4>
                            </div>
                            <div class="modal-body">
                                是否修改该条记录?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <input type="submit" value="确定" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>
