@model Volkswagen.Models.ShiftModels

@{
    ViewBag.Title = "批量编辑交班记录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>交班记录 - 批量编辑</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
@{
    int n = 0;
    List<Volkswagen.Models.ShiftModels> l = ViewData["list"] as List<Volkswagen.Models.ShiftModels>;
    foreach (Volkswagen.Models.ShiftModels e in l)
    {
        string name = "item" + n;
        <input type="hidden" name="@name" value=@e.ShiftID />
        n++;
    }
}
        <div class="form-group">
            @Html.LabelFor(model => model.ShiftDate, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.ShiftDate, new { @class = "form-control", type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.ShiftDate)
            </div>
            @Html.LabelFor(model => model.ShiftTime, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.ShiftTime, new { @class = "form-control", type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.ShiftTime)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Class, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("Class", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.RepairModels.ClassType))), String.Empty)
                @Html.ValidationMessageFor(model => model.Class)
            </div>
            @Html.LabelFor(model => model.Line, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("Line", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.WSNames))), String.Empty)
                @Html.ValidationMessageFor(model => model.Line)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Charger, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Charger, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Charger)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Record, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Record, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Record)
            </div>
            @Html.LabelFor(model => model.Urgency, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Urgency, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Urgency)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remark)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    保存
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">修改确认</h4>
                            </div>
                            <div class="modal-body">
                                是否修改该条记录?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <input type="submit" value="确定" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
