@model IPagination<Volkswagen.Models.ShiftModels>

@{
    ViewBag.Title = "交班记录";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string col, dir;
    if (ViewData["model"] == null)
    {
        col = "";
        dir = "";
    }
    else
    {
        col = (ViewData["model"] as GridSortOptions).Column;
        dir = ((ViewData["model"] as GridSortOptions).Direction == MvcContrib.Sorting.SortDirection.Ascending) ? "Asceding" : "Descending";
    }
}

<h3>交班记录</h3>

<script type="text/javascript">
    var row = 0;
    var fieldMap = new Array(
        "记录编号",
        "交班日期",
        "时间",
        "班次",
        "车间生产线",
        "负责人",
        "情况记录",
        "紧急事件",
        "备注",
        "最后修改时间",
        "修改人",
        "创建时间",
        "创建人"
    );

    var opMap = new Array(
        "=",
        ">",
        "<",
        ">=",
        "<=",
        "<>",
        "包含"
        );

    var valueMap = new Array(
        "ShiftID",
        "ShiftDate",
        "ShiftTime",
        "Class",
        "Line",
        "Charger",
        "Record",
        "Urgency",
        "Remark",
        "ChangeTime",
        "Changer",
        "CreateTime",
        "Creator"
        );

    function append_input() {

        var fm = document.getElementById("query_panel");
        var f = document.createElement("div");
        f.className = "form-group";


        var field = document.createElement("select");
        var op = document.createElement("select");
        var operand = document.createElement("input");

        f.name = "fgroup" + row;
        field.name = "field" + row;
        op.name = "op" + row;
        operand.name = "operand" + row;

        field.id = "field" + row;
        op.id = "op" + row;
        operand.id = "operand" + row;

        //operand.className = "form-control"

        for (var i = 0; i < fieldMap.length; i++) {
            var option = document.createElement("option");
            option.text = fieldMap[i];
            option.value = valueMap[i];
            field.add(option);
        }

        for (var i = 0; i < opMap.length; i++) {
            var ooption = document.createElement("option");
            ooption.text = opMap[i];
            ooption.value = i.toString();
            op.add(ooption);
        }

        field.onchange = function () {
            var operand = this.parentElement.children.item(this.parentElement.children.length - 1);
            var id_placement = operand.id;
            var name_placement = operand.name;
            this.parentElement.removeChild(operand);
            var new_operand = document.getElementById(this.value).cloneNode(true);
            new_operand.id = id_placement;
            new_operand.name = name_placement;
            this.parentElement.appendChild(new_operand);
            new_operand.name = name_placement;
        }

        var cancel = document.createElement("button");
        cancel.id = "cancel" + row;
        cancel.type = "button";
        cancel.className = "btn btn-default btn-xs";
        var cancelx = document.createElement("span");
        cancelx.className = "glyphicon glyphicon-remove"
        cancel.onclick = function () {
            this.parentElement.hidden = true;
            this.parentElement.getElementsByTagName("input").value = null;
        };
        cancel.appendChild(cancelx);

        f.appendChild(cancel);
        f.appendChild(field);
        f.appendChild(op);
        f.appendChild(operand);


        fm.appendChild(f);

        row++;
    }

    function add_input(a, b, c, r) {
        var field = document.getElementsByName("field" + r)[0];
        var op = document.getElementsByName("op" + r)[0];
        var operand = document.getElementById("operand" + r);
        var cancel = document.getElementById("cancel" + r)

        field.value = a;

        field.onchange = function () {
            var operand = this.parentElement.children.item(this.parentElement.children.length - 1);
            var id_placement = operand.id;
            var name_placement = operand.name;
            this.parentElement.removeChild(operand);
            var new_operand = document.getElementById(this.value).cloneNode(true);
            new_operand.id = id_placement;
            new_operand.name = name_placement;
            this.parentElement.appendChild(new_operand);
            new_operand.name = name_placement;
        }

        op.value = b;

        cancel.onclick = function () {
            this.parentElement.hidden = true;
            this.parentElement.getElementsByTagName("input").value = null;
        };

        var id_placement = operand.id;
        var name_placement = operand.name;
        field.parentElement.removeChild(operand);
        var new_operand = document.getElementById(field.value).cloneNode(true);
        new_operand.id = id_placement;
        new_operand.name = name_placement;
        field.parentElement.appendChild(new_operand);
        new_operand.name = name_placement;

        new_operand.value = c;

        if (new_operand.value == "") {
            new_operand.parentElement.hidden = true;
        }
    }

    var initial_value = new Array();

    function select_all() {
        var inputs = document.getElementById("query_form").getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type == "checkbox") {
                inputs[i].checked = true;
            }
        }
    }
    function toggle_all() {
        var inputs = document.getElementById("query_form").getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type == "checkbox") {
                inputs[i].checked = !inputs[i].checked;
            }
        }
    }
</script>

<div hidden="hidden">
    @Html.TextBoxFor(model => (model as Volkswagen.Models.ShiftModels).ShiftID)
    @Html.TextBoxFor(model => (model as Volkswagen.Models.ShiftModels).Charger)
    @Html.TextBoxFor(model => (model as Volkswagen.Models.ShiftModels).Record)
    @Html.TextBoxFor(model => (model as Volkswagen.Models.ShiftModels).Urgency)
    @Html.DropDownList("Class", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.RepairModels.ClassType))), String.Empty)
    @Html.DropDownList("Line", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.WSNames))), String.Empty)
    @Html.TextBoxFor(model => (model as Volkswagen.Models.ShiftModels).ShiftDate, new { type = "datetime-local" })
    @Html.TextBoxFor(model => (model as Volkswagen.Models.ShiftModels).ShiftTime, new { type = "datetime-local" })
    @Html.TextBoxFor(model => (model as Volkswagen.Models.ShiftModels).Changer)
    @Html.TextBoxFor(model => (model as Volkswagen.Models.ShiftModels).ChangeTime, new { type = "datetime-local" })
    @Html.TextBoxFor(model => (model as Volkswagen.Models.ShiftModels).Creator)
    @Html.TextBoxFor(model => (model as Volkswagen.Models.ShiftModels).CreateTime, new { type = "datetime-local" })
    @Html.TextBoxFor(model => (model as Volkswagen.Models.ShiftModels).Remark)
</div>


<form action="/Shift/" id="query_form" method="post">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">查询</h3>
                </div>
                <div id="query_panel" class="panel-body">
                    <input type="hidden" name="Colu" value=@col />
                    <input type="hidden" name="Direction" value=@dir />
                    <input type="button" value="+" onclick="append_input()" class="btn btn-sm" />
                    <input type="submit" id="query" value="确定" class="btn btn-sm" />
                    @{
                        int r = 0;
                        while (true)
                        {
                            string field = ViewData["field" + r] as string;
                            string op = ViewData["op" + r] as string;
                            string operand = ViewData["operand" + r] as string;
                            if (string.IsNullOrEmpty(field))
                            {
                                break;
                            }

                            <script>
                                initial_value.push({ field_name: '@field', op_name: '@op', operand_name: '@operand', r_name: '@r' });
                                append_input();
                            </script>
                            r++;
                        }
                    }
                    <script>
                        window.onload = function () {
                            for (var i = 0; i < initial_value.length; i++) {
                                add_input(initial_value[i].field_name, initial_value[i].op_name, initial_value[i].operand_name, initial_value[i].r_name);
                            }
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>

    <br />

    @if ((ViewData["selected"] != null) && (ViewData["selected"] != ""))
    {
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewData["selected"]</h3>
            </div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().ShiftDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().ShiftDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().ShiftTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().ShiftTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Class)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Class)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Line)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Line)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Charger)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Charger)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Record)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Record)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Urgency)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Urgency)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Remark)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Remark)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().ChangeTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().ChangeTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Changer)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Changer)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().CreateTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().CreateTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Creator)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Where(e => e.ShiftID == ViewData["selected"]).First().Creator)
                </dd>

            </dl>

            @{ var em = Model.GetEnumerator();
             var current_em = Model.Where(p => p.ShiftID == ViewData["selected"] as string).First();
             var prev_em = em.Current;
             string first_one = "", last_one = "";
             try
             {
                 em.MoveNext();
                 while ((em.Current != null) && (em.Current != current_em))
                 {
                     prev_em = em.Current;
                     em.MoveNext();
                 }
                 if (prev_em == null)
                 {
                     first_one = "disabled=\"disabled\"";
                     prev_em = em.Current;
                 }
                 if (!em.MoveNext())
                 {
                     last_one = "disabled=\"disabled\"";
                 }
             }
             catch (Exception) { }

            }

            <div class="btn-group">
                <button class='btn btn-default' @first_one onclick="var sel=document.getElementById('selected_item'); sel.value='@prev_em.ShiftID';"><span class='glyphicon glyphicon-chevron-left'></span>上一项</button>
                @Html.ActionLink("详细", "Details", "Equipment", new { id = ViewData["selected"] as string }, new { @class = "btn btn-default" })
                @Html.ActionLink("编辑", "Edit", "Equipment", new { id = ViewData["selected"] as string }, new { @class = "btn btn-default" })
                @Html.ActionLink("删除", "Delete", "Equipment", new { id = ViewData["selected"] as string }, new { @class = "btn btn-default" })
                <button class='btn btn-default' @last_one onclick="var sel=document.getElementById('selected_item'); sel.value='@em.Current.ShiftID';"><span class='glyphicon glyphicon-chevron-right'></span>下一项</button>
            </div>
        </div>
    }

    <p>
        @Html.ActionLink("新建", "Create", "Shift", null, new { @class = "btn btn-default" })
        @Html.ActionLink("导出", "ExportExcel", "Shift", null, new { @class = "btn btn-default" })
    </p>

    <div class="btn-group">
        <input type="button" id="select_button" value="全选" onclick="select_all()" class="btn btn-default" />
        <input type="button" id="select_button" value="反选" onclick="toggle_all()" class="btn btn-default" />
    </div>
    @Html.ActionLink("批量修改", "EditMultiple", "Shift", null, new { @class = "btn btn-default" })
    @Html.ActionLink("批量删除", "DeleteMultiple", "Shift", null, new { @class = "btn btn-default" })

    <input type="hidden" name="selected_item" id="selected_item" />

    @using MvcContrib.UI.Grid
    @using MvcContrib.UI.Pager
    @using MvcContrib.Pagination
    @using MvcContrib
    @Html.Grid(Model).Sort(ViewData["model"] as GridSortOptions).Columns(column =>
{
    column.For(p => Html.CheckBox("Checked" + p.ShiftID)).Sortable(false);
    column.For(p => new MvcHtmlString("<button class='btn btn-sm' onclick=\"var sel = document.getElementById('selected_item'); sel.value='" + @p.ShiftID + "';\" ><span class='glyphicon glyphicon-eye-open'></span></button>"));
    column.For(p => new MvcHtmlString("<a href='/Equipment/Edit/" + p.ShiftID + "' class='btn btn-sm'><span class='glyphicon glyphicon-pencil'></span></a>"));
    column.For(p => new MvcHtmlString("<a href='/Equipment/Delete/" + p.ShiftID + "' class='btn btn-sm'><span class='glyphicon glyphicon-trash'></span></a>"));
    column.For(p => p.ShiftID).Sortable(true);
    column.For(p => p.ShiftDate).Sortable(true);
    column.For(p => p.ShiftTime).Sortable(true);
    column.For(p => p.Class).Sortable(true);
    column.For(p => p.Line).Sortable(true);
    column.For(p => p.Changer).Sortable(true);
    column.For(p => p.Record).Sortable(true);
    column.For(p => p.Urgency).Sortable(true);
    column.For(p => p.Remark).Sortable(true);
    column.For(p => p.ChangeTime).Sortable(true);
    column.For(p => p.Changer).Sortable(true);
    column.For(p => p.CreateTime).Sortable(true);
    column.For(p => p.Creator).Sortable(true);
}).Empty("无数据").Attributes(@width => "100%", @style => "align:left;border-collapse:collapse;white-space:nowrap;overflow:hidden;text-overflow:ellipsis", @class => "table table-striped table-hover table-condensed");

    @Html.Pager(Model).First(" 首页 ").Next(" 下一页 ").Previous(" 上一页 ").Last(" 末页 ").Format("共{2}项, 当前{0}-{1} |")
</form>