@model Volkswagen.Models.SpareUserModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>备件领用记录 - 编辑</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SpareUserModels</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserID)

        <div class="form-group">
            @Html.LabelFor(model => model.SpareID, "SpareID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SpareID", String.Empty)
                @Html.ValidationMessageFor(model => model.SpareID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpareDes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpareDes)
                @Html.ValidationMessageFor(model => model.SpareDes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InValue)
                @Html.ValidationMessageFor(model => model.InValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OutValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OutValue)
                @Html.ValidationMessageFor(model => model.OutValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User)
                @Html.ValidationMessageFor(model => model.User)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UseTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UseTime)
                @Html.ValidationMessageFor(model => model.UseTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActualUse, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActualUse)
                @Html.ValidationMessageFor(model => model.ActualUse)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>
