@model Volkswagen.Models.SpareModels

@{
    ViewBag.Title = "备件库存 - " + @Model.SpareID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>备件库存 - 详细</h3>

<div>
    <h4>@Model.SpareID</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpareDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpareDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SafeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SafeValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DCMinValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DCMinValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DCMaxValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DCMaxValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeyPart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeyPart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Changer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Changer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture1)
        </dt>

        <dd>
            @using System.Text.RegularExpressions;

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    @{
                        string init = Model.Picture1;
                        if (init == null)
                        {
                            <p>无</p>
                        }
                        else
                        {
                            <a class="thumbnail">
                                @{string[] sArray = Regex.Split(init, "[$]");//, RegexOptions.IgnoreCase);
                                for (var i = 1; i < sArray.Length; i++)
                                {
                                    <img src='/img/spare/@sArray[i]'>
                                }
                                }
                            </a>
                        }
                    }
                </div>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture2)
        </dt>

        <dd>
            @using System.Text.RegularExpressions;

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    @{
                        string init2 = Model.Picture2;
                        if (init2 == null)
                        {
                            <p>无</p>
                        }
                        else
                        {
                            <a class="thumbnail">
                                @{string[] sArray2 = Regex.Split(init2, "[$]");//, RegexOptions.IgnoreCase);
                                for (var i = 1; i < sArray2.Length; i++)
                                {
                                    <img src='/img/spare/@sArray2[i]'>
                                }
                                }
                            </a>
                        }
                    }
                </div>
            </div>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.SpareID }) |
    @Html.ActionLink("返回列表", "Index")
</p>
