@model Volkswagen.Models.SpareModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>备件库存 - 修改</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SpareModels</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SpareID)

        <div class="form-group">
            @Html.LabelFor(model => model.SpareDes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpareDes)
                @Html.ValidationMessageFor(model => model.SpareDes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Picture1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Picture1)
                @Html.ValidationMessageFor(model => model.Picture1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Picture2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Picture2)
                @Html.ValidationMessageFor(model => model.Picture2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mark)
                @Html.ValidationMessageFor(model => model.Mark)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PresentValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PresentValue)
                @Html.ValidationMessageFor(model => model.PresentValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SafeValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SafeValue)
                @Html.ValidationMessageFor(model => model.SafeValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DCMinValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DCMinValue)
                @Html.ValidationMessageFor(model => model.DCMinValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DCMaxValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DCMaxValue)
                @Html.ValidationMessageFor(model => model.DCMaxValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Property, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Property)
                @Html.ValidationMessageFor(model => model.Property)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EquipmentID, "EquipmentID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EquipmentID", String.Empty)
                @Html.ValidationMessageFor(model => model.EquipmentID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Producer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Producer)
                @Html.ValidationMessageFor(model => model.Producer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderNumber)
                @Html.ValidationMessageFor(model => model.OrderNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remark)
                @Html.ValidationMessageFor(model => model.Remark)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KeyPart, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KeyPart)
                @Html.ValidationMessageFor(model => model.KeyPart)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>
