@model IEnumerable<Volkswagen.Models.SpareModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var row = 0;
    var fieldMap = new Array(
        "设备物流编号",
        "备件名称",
        "备件型号",
        "仓位号",
        "当前库存",
        "安全库存",
        "东昌最小库存",
        "东昌最大库存",
        "所属设备",
        "设备编号",
        "设备供货商",
        "订货号",
        "设备关键属性",
        "最后修改时间",
        "修改人",
        "创建时间",
        "创建人",
        "备注"
    );

    var opMap = new Array(
        "=",
        ">",
        "<",
        ">=",
        "<="
        );

    var valueMap = new Array(
        "SpareID",
        "SpareDes",
        "Type",
        "Mark",
        "PresentValue",
        "SafeValue",
        "DCMinValue",
        "DCMaxValue",
        "Property",
        "EquipmentID",
        "Producer",
        "OrderNumber",
        "KeyPart",
        "ChangeTime",
        "Changer",
        "CreateTime",
        "Creator",
        "Remark");

    function append_input() {

        var fm = document.getElementById("query_form");
        var f = document.createElement("div");
        f.className = "form-group";
        fm.appendChild(f);

        var field = document.createElement("select");
        var op = document.createElement("select");
        var operand = document.createElement("input");

        field.name = "field" + row;
        op.name = "op" + row;
        operand.name = "operand" + row;

        //operand.className = "form-control"

        for (var i = 0; i < fieldMap.length; i++) {
            var option = document.createElement("option");
            option.text = fieldMap[i];
            option.value = valueMap[i];
            field.add(option);
        }

        for (var i = 0; i < opMap.length; i++) {
            var ooption = document.createElement("option");
            ooption.text = opMap[i];
            ooption.value = i;
            op.add(ooption);
        }


        f.appendChild(field);
        f.appendChild(op);
        f.appendChild(operand);



        /*var input = document.createElement("input");
        input.type = "button";
        input.value = "+";
        input.onclick = "append_input()";

        f.appendChild(input);*/

        /*var f = document.getElementById("query_form");
        var div = document.createElement("div");
        div.className("form-group");

        var div_field = document.createElement("div");
        var in_field = document.createElement("input");
        in_field.name = "field" + row;
        in_field.type = "text";
        in_field.className = "form-control";
        div_field.appendChild(in_field);
        var bg_field = document.createElement("div");
        bg_field.className = "input-group-btn";
        var bt_field = document.createElement("button");
        bt_field.type = "button";
        bt_field.className = "btn btn-default dropdown-toggle";
        //bt_field.name = "变量";
        bt_field.setAttribute("data-toggle", "dropdown");
        var span_field = document.createElement("span");
        span_field.className = "caret";
        bt_field.appendChild(span_field);
        var ul_field = document.createElement("ul");
        ul_field.className = "dropdown-menu";
        ul_field.setAttribute("role", "menu");
        for (var i = 0; i < fieldMap.length; i++) {
            var li = document.createElement("li");
            var a = document.createElement("a");
            a.onclick = "in_field.textContent=valueMap[" + i + "]";
            a.name = valueMap[i];
            a.id = fieldMap[i];
            li.add(a);
            ul_field.appendChild(a);
        }
        bg_field.appendChild(bt_field);
        bg_field.appendChild(ul_field);
        div_field.appendChild(bg_field);
        div.appendChild(div_field);

        f.appendChild(div);*/

        row++;
    }
</script>


<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">查询</h3>
            </div>
            <div class="panel-body">
                <form action="/Spare/" id="query_form" method="post">
                    <input type="button" value="+" onclick="append_input()" class="btn btn-sm" />
                    <input type="submit" id="query" value="确定" class="btn btn-sm" />
                </form>
            </div>
        </div>
    </div>
</div>

<br />

<p>
    @Html.ActionLink("新建", "Create", "Spare", null, new { @class = "btn btn-default" })
    @Html.ActionLink("导出", "ExportExcel", "Spare", null, new { @class = "btn btn-default" })
</p>
<!--
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Equipments.EquipDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpareDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresentValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DCMinValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DCMaxValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeyPart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Changer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Equipments.EquipDes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpareDes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresentValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SafeValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DCMinValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DCMaxValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Property)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeyPart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangeTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Changer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpareID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SpareID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpareID })
        </td>
    </tr>
}

</table>
-->

@using MvcContrib.UI.Grid
@using MvcContrib
@Html.Grid(Model).Sort(ViewData["model"] as GridSortOptions).Columns(column =>
        {
            column.For(p => p.SpareID).Sortable(true);
            column.For(p => p.SpareDes).Sortable(true);
            column.For(p => p.Type).Sortable(true);
            column.For(p => p.Picture1.IsEmpty() ? "无" : "有").Named("图片1").Sortable(true);
            column.For(p => p.Picture2.IsEmpty() ? "无" : "有").Named("图片2").Sortable(true);
            column.For(p => p.Mark).Sortable(true);
            column.For(p => p.PresentValue).Sortable(true);
            column.For(p => p.SafeValue).Sortable(true);
            column.For(p => p.DCMinValue).Sortable(true);
            column.For(p => p.DCMaxValue).Sortable(true);
            column.For(p => p.Property).Sortable(true);
            column.For(p => p.EquipmentID).Sortable(true);
            column.For(p => p.Producer).Sortable(true);
            column.For(p => p.OrderNumber).Sortable(true);
            column.For(p => p.KeyPart).Sortable(true);
            column.For(p => p.ChangeTime).Sortable(true);
            column.For(p => p.Changer).Sortable(true);
            column.For(p => p.CreateTime).Sortable(true);
            column.For(p => p.Creator).Sortable(true);
            column.For(p => p.Remark).Sortable(true);
            column.For(p => Html.ActionLink("编辑", "Edit", new { id = p.SpareID }));
            column.For(p => Html.ActionLink("查看", "Details", new { id = p.SpareID }));
            column.For(p => Html.ActionLink("删除", "Delete", new { id = p.SpareID }));
        }).Empty("无数据").Attributes(@width => "100%", @style => "text-align:center;border-collapse:collapse", @class => "table table-striped table-hover")