@model Volkswagen.Models.EquipLogModels

@{
    ViewBag.Title = "新建设备台账";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>设备台帐 - 新建</h3>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <!--<h4>EquipLogModels</h4>-->
        <hr />
        @Html.ValidationSummary(true)

        @if (ViewData["valid"] == "no_foreign")
        {
            <label class=" alert-danger">设备不存在</label>
        }
        @if (ViewData["valid"] == "exist_key")
{
    <label class="alert-danger">设备编号已存在</label>
}

        <div class="form-group">
            @Html.LabelFor(model => model.EquipmentID, "EquipmentID", new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.EquipmentID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipmentID)
            </div>
            @Html.LabelFor(model => model.EquipDes, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.EquipDes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipDes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Department, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Department)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextAreaFor(model => model.Type, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type)
            </div>
            @Html.LabelFor(model => model.Spec, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextAreaFor(model => model.Spec, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Spec)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DocumentDate, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.DocumentDate, new { @class = "form-control", type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.DocumentDate)
            </div>
            @Html.LabelFor(model => model.EnableDate, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.EnableDate, new { @class = "form-control", type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.EnableDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OriginValue, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.OriginValue, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OriginValue)
            </div>
            @Html.LabelFor(model => model.Depreciation, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Depreciation, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Depreciation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Spot1, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Spot1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Spot1)
            </div>
            @Html.LabelFor(model => model.Spot2, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Spot2, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Spot2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Spot3, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Spot3, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Spot3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remark)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    新建
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">新建确认</h4>
                            </div>
                            <div class="modal-body">
                                是否新建该条记录?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <input type="submit" value="新建" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
