@model Volkswagen.Models.ArShiftModels

@{
    ViewBag.Title = "历史记录 - 交班记录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>历史记录 - 交班记录</h3>

<div>
    <h4>@Model.ShiftID</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShiftDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Line)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Line)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Record)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Record)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urgency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urgency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Changer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Changer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("返回列表", "Index")
</p>
