@model Volkswagen.Models.ArEquipmentModels

@{
    ViewBag.Title = "历史记录 - 设备履历";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>历史记录 - 设备履历</h3>

<div>
    <h4>@Model.RecordID</h4>
	<hr />
    @if (Model.Operator == Volkswagen.Models.ArEquipmentModels.OperatorType.创建)
    {
        @Html.ActionLink("彻底删除此条记录", "Rollback", new { @class = "btn btn-default", id = Model.RecordID})
    }
    else
    {
        @Html.ActionLink("恢复至此条记录", "Rollback", new { @class = "btn btn-default", id = Model.RecordID})
    }
    
    <div class="row">
        <dl class="dl-horizontal col-lg-4">
            <dt>
                
            </dt>

            <dd>
                要恢复的记录
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EquipmentID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EquipmentID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EquipDes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EquipDes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Person)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Section)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Section)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WSArea)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WSArea)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ItemInspect)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemInspect)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RegularCare)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegularCare)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Check)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Check)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoutingInspect)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoutingInspect)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChangeTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChangeTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Changer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Changer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Creator)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Creator)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OperateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OperateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Operator)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Operator)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Remark)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Remark)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>

            <dd>
                @using System.Text.RegularExpressions;

                        @{
                            string init = Model.Photo;
                            if (init == null)
                            {
                                <p>无</p>
                            }
                            else
                            {

                                string[] sArray = Regex.Split(init, "[$]");//, RegexOptions.IgnoreCase);
                                for (var i = 1; i < sArray.Length; i++)
                                {
                                    <img src='/img/equipments/@sArray[i]' class="thumbnail">
                                }
                            }

}
                                    </dd>

</dl>

        @{
            var origin = ViewData["origin"] as Volkswagen.Models.EquipmentModels;
            if (origin != null)
            {
        <dl class="dl-horizontal col-lg-4">
            
            <dt>
                
            </dt>

            <dd>
                当前记录
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EquipmentID)
            </dt>

            <dd>
                @origin.EquipmentID
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EquipDes)
            </dt>

            <dd>
                @origin.EquipDes
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Person)
            </dt>

            <dd>
                @origin.Person
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Section)
            </dt>

            <dd>
                @origin.Section
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WSArea)
            </dt>

            <dd>
                @origin.WSArea
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ItemInspect)
            </dt>

            <dd>
                @origin.ItemInspect
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RegularCare)
            </dt>

            <dd>
                @origin.RegularCare
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Check)
            </dt>

            <dd>
                @origin.Check
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoutingInspect)
            </dt>

            <dd>
                @origin.RoutingInspect
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChangeTime)
            </dt>

            <dd>
                @origin.ChangeTime
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Changer)
            </dt>

            <dd>
                @origin.Changer
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateTime)
            </dt>

            <dd>
                @origin.CreateTime
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Creator)
            </dt>

            <dd>
                @origin.Creator
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Remark)
            </dt>

            <dd>
                @origin.Remark
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>

            <dd>
                @using System.Text.RegularExpressions;

                        @{
                string init2 = origin.Photo;
                if (init2 == null)
                {
                    <p>无</p>
                }
                else
                {
                        string[] sArray = Regex.Split(init2, "[$]");//, RegexOptions.IgnoreCase);
                        for (var i = 1; i < sArray.Length; i++)
                        {
                            <img src='/img/equipments/@sArray[i]' class="thumbnail">
                        }
                        }
                }
                        

</dl>
            }
        }
    </div>
</div>
<p>
    @Html.ActionLink("返回列表", "Index")
</p>
