@model Volkswagen.Models.ArSpareOrderModels

@{
    ViewBag.Title = "历史记录 - 备件订购信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>历史记录 - 备件订购信息 - 删除</h3>

<h4>确定要删除这条记录吗?</h4>
<div>
    <h4>@Model.OrderID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpareID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpareID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpareDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpareDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MakerNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakerNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orderman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orderman)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Changer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Changer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
