@model Volkswagen.Models.RepairModels

@{
    ViewBag.Title = "编辑设备报修单 - " + Model.SheetID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>设备报修单 - 编辑</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.SheetID</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SheetID)

        <div class="form-group">
            @Html.LabelFor(model => model.SheetID, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.SheetID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SheetID)
            </div>
            @Html.LabelFor(model => model.RepairID, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.RepairID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RepairID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EquipmentID, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("EquipmentID", String.Empty)
                @Html.ValidationMessageFor(model => model.EquipmentID)
            </div>
            @Html.LabelFor(model => model.EquipDes, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("EquipDes", String.Empty)
                @Html.ValidationMessageFor(model => model.EquipDes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control", type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.StartTime)
            </div>
            @Html.LabelFor(model => model.FinishTime, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.FinishTime, new { @class = "form-control", type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.FinishTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RepairTime, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.RepairTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RepairTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Class, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("Class", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.RepairModels.ClassType))), Model.Class)
                @Html.ValidationMessageFor(model => model.Class)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Line, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("Line", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.WSNames))), Model.Line)
                @Html.ValidationMessageFor(model => model.Line)
            </div>
            @Html.LabelFor(model => model.Section, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("Section", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.RepairModels.SectionNames))), Model.Section)
                @Html.ValidationMessageFor(model => model.Section)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FaultView, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextAreaFor(model => model.FaultView, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FaultView)
            </div>
            @Html.LabelFor(model => model.Repairman, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Repairman, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Repairman)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            @Html.LabelFor(model => model.FaultType, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("ResponseClass", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.RepairModels.FaultTypeEnum))), Model.FaultType)
                @Html.ValidationMessageFor(model => model.FaultType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Result, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("ResponseClass", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.YesNo))), String.Empty)
                @Html.ValidationMessageFor(model => model.Result)
            </div>
            @Html.LabelFor(model => model.Problem, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextAreaFor(model => model.Problem, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Problem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Checker, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Checker, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Checker)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StopTime, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.StopTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StopTime)
            </div>
            @Html.LabelFor(model => model.RepairNum, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.RepairNum, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RepairNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remark)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    保存
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">修改确认</h4>
                            </div>
                            <div class="modal-body">
                                是否修改该条记录?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <input type="submit" value="确定" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
