@model IEnumerable<Volkswagen.Models.RepairModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>设备报修单</h2>

<script type="text/javascript">
    var row = 0;
    var fieldMap = new Array(
        "原单据编号",
        "保修单号",
        "设备名称",
        "设备编号",
        "保修时刻",
        "修复时刻",
        "维修耗时",
        "班次",
        "车间生产线",
        "工段",
        "故障现象",
        "维修人",
        "故障原因和维修内容",
        "故障类别",
        "已修复否",
        "遗留问题",
        "验收人",
        "备注",
        "停机时间",
        "维修次数",
        "最后修改时间",
        "修改人",
        "创建时间",
        "创建人"
    );

    var opMap = new Array(
        "=",
        ">",
        "<",
        ">=",
        "<="
        );

    var valueMap = new Array(
        "SheetID",
        "RepairID",
        "EquipmentID",
        "EquipDes",
        "StartTime",
        "FinishTime",
        "RepairTime",
        "Class",
        "Line",
        "Section",
        "FaultView",
        "Repairman",
        "Description",
        "FaultType",
        "Result",
        "Problem",
        "Checker",
        "Remark",
        "StopTime",
        "RepairNum",
        "ChangeTime",
        "Changer",
        "CreateTime",
        "Creator");

    function append_input() {

        var fm = document.getElementById("query_form");
        var f = document.createElement("div");
        f.className = "form-group";
        fm.appendChild(f);

        var field = document.createElement("select");
        var op = document.createElement("select");
        var operand = document.createElement("input");

        field.name = "field" + row;
        op.name = "op" + row;
        operand.name = "operand" + row;

        //operand.className = "form-control"

        for (var i = 0; i < fieldMap.length; i++) {
            var option = document.createElement("option");
            option.text = fieldMap[i];
            option.value = valueMap[i];
            field.add(option);
        }

        for (var i = 0; i < opMap.length; i++) {
            var ooption = document.createElement("option");
            ooption.text = opMap[i];
            ooption.value = i;
            op.add(ooption);
        }


        f.appendChild(field);
        f.appendChild(op);
        f.appendChild(operand);



        /*var input = document.createElement("input");
        input.type = "button";
        input.value = "+";
        input.onclick = "append_input()";

        f.appendChild(input);*/

        /*var f = document.getElementById("query_form");
        var div = document.createElement("div");
        div.className("form-group");

        var div_field = document.createElement("div");
        var in_field = document.createElement("input");
        in_field.name = "field" + row;
        in_field.type = "text";
        in_field.className = "form-control";
        div_field.appendChild(in_field);
        var bg_field = document.createElement("div");
        bg_field.className = "input-group-btn";
        var bt_field = document.createElement("button");
        bt_field.type = "button";
        bt_field.className = "btn btn-default dropdown-toggle";
        //bt_field.name = "变量";
        bt_field.setAttribute("data-toggle", "dropdown");
        var span_field = document.createElement("span");
        span_field.className = "caret";
        bt_field.appendChild(span_field);
        var ul_field = document.createElement("ul");
        ul_field.className = "dropdown-menu";
        ul_field.setAttribute("role", "menu");
        for (var i = 0; i < fieldMap.length; i++) {
            var li = document.createElement("li");
            var a = document.createElement("a");
            a.onclick = "in_field.textContent=valueMap[" + i + "]";
            a.name = valueMap[i];
            a.id = fieldMap[i];
            li.add(a);
            ul_field.appendChild(a);
        }
        bg_field.appendChild(bt_field);
        bg_field.appendChild(ul_field);
        div_field.appendChild(bg_field);
        div.appendChild(div_field);

        f.appendChild(div);*/

        row++;
    }
</script>


<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">查询</h3>
            </div>
            <div class="panel-body">
                <form action="/Repair/" id="query_form" method="post">
                    <input type="button" value="+" onclick="append_input()" class="btn btn-sm" />
                    <input type="submit" id="query" value="确定" class="btn btn-sm" />
                </form>
            </div>
        </div>
    </div>
</div>

<br />

<p>
    @Html.ActionLink("新建", "Create", "Repair", null, new { @class = "btn btn-default" })
    @Html.ActionLink("导出", "ExportExcel", "Repair", null, new { @class = "btn btn-default" })
</p>

<!--
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Equipments.EquipDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Line)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultView)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repairman)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Problem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Changer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Equipments.EquipDes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepairID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipDes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepairTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Line)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Section)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaultView)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Repairman)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaultType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Problem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Checker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepairNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangeTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Changer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SheetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SheetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SheetID })
        </td>
    </tr>
}

</table> -->

@using MvcContrib.UI.Grid
@using MvcContrib
@Html.Grid(Model).Sort(ViewData["model"] as GridSortOptions).Columns(column =>
        {
            column.For(p => p.SheetID).Sortable(true);
            column.For(p => p.RepairID).Sortable(true);
            column.For(p => p.EquipmentID).Sortable(true);
            column.For(p => p.EquipDes).Sortable(true);
            column.For(p => p.StartTime).Sortable(true);
            column.For(p => p.FinishTime).Sortable(true);
            column.For(p => p.RepairTime).Sortable(true);
            column.For(p => p.Class).Sortable(true);
            column.For(p => p.Line).Sortable(true);
            column.For(p => p.Section).Sortable(true);
            column.For(p => p.FaultView).Sortable(true);
            column.For(p => p.Repairman).Sortable(true);
            column.For(p => p.Description).Sortable(true);
            column.For(p => p.FaultType).Sortable(true);
            column.For(p => p.Result).Sortable(true);
            column.For(p => p.Problem).Sortable(true);
            column.For(p => p.Checker).Sortable(true);
            column.For(p => p.Remark).Sortable(true);
            column.For(p => p.StopTime).Sortable(true);
            column.For(p => p.RepairNum).Sortable(true);
            column.For(p => p.ChangeTime).Sortable(true);
            column.For(p => p.Changer).Sortable(true);
            column.For(p => p.CreateTime).Sortable(true);
            column.For(p => p.Creator).Sortable(true);
            column.For(p => Html.ActionLink("编辑", "Edit", new { id = p.SheetID }));
            column.For(p => Html.ActionLink("查看", "Details", new { id = p.SheetID }));
            column.For(p => Html.ActionLink("删除", "Delete", new { id = p.SheetID }));
        }).Empty("无数据").Attributes(@width => "100%", @style => "text-align:center;border-collapse:collapse", @class => "table table-striped table-hover")
