@model Volkswagen.Models.FileModels

@{
    ViewBag.Title = "编辑文件 - " + Model.FileName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>文件 - 编辑</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.FileName</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.FileName)

        <div class="form-group">
            @Html.LabelFor(model => model.Class, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Class, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Class)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EquipmentID, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.EquipmentID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipmentID)
            </div>
            @Html.LabelFor(model => model.EquipDes, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.EquipDes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipDes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Charger, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Charger, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Charger)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    保存
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">修改确认</h4>
                            </div>
                            <div class="modal-body">
                                是否修改该条记录?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <input type="submit" value="确定" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using System.Text.RegularExpressions;
<div class="form-horizontal">
    <div class="row">
        @Html.LabelFor(model => model.File, new { @class = "control-label  col-md-2" })
        <div class="col-lg-8">
            <form action="/File/FileRemove" method="post">
                @{
                    // 得到当前显示的记录的图片值($...$...$...)
                    string init = Model.File;
                    if (init == null)
                    {
                        // 为空则不显示
                        <p>无</p>
                    }
                    else
                    {
                        <!-- 以$为分隔符进行分割 -->
                        string[] sArray = Regex.Split(init, "[$]");//, RegexOptions.IgnoreCase);
                        for (var i = 1; i < sArray.Length; i++)
                        {
                            <div class="row">
                                <input type="checkbox" name="photo_@i" class="col-md-1" />
                                <a href='/files/@Model.Class/@Model.EquipDes/@sArray[i]'>@sArray[i]</a>
                            </div>
                        }

                    }
                    <input type="hidden" value=@Model.FileName name="key2" />
                    <input type="submit" value="删除文件" class="btn btn-default" data-toggle="modal" data-target="#myModal2" />
                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">删除文件确认</h4>
                                </div>
                                <div class="modal-body">
                                    是否删除这些文件?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <input type="submit" value="确定" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
</div>

<br />

<div class="form-horizontal">
    <div class="row">
        <label class="control-label  col-md-2" for="Photo">上传新的文件</label>
        @using (Html.BeginForm("FileUpload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group col-md-6">
                <input id="photo-input" type="file" class="file" name="files" data-preview-file-type="any" multiple="multiple">
            </div>
            <input type="hidden" value=@Model.FileName name="key" />
        }
    </div>
</div>
<script>
    var init = "@Model.File";
    var arr = new Array();

    arr = init.split('$');
    var init_arr = new Array();
    //for (var i = 1; i < arr.length; i++) {
    //    init_arr[i - 1] = "<img src='/files/" + arr[i] + "' class='file-preview-image'>";
    //}

    $("#photo-input").fileinput({
        //initialPreview: init_arr, // 初始图片数组
        overwriteInitial: false, // 可覆盖初始图片
        browseLabel: "浏览",  // 按钮显示
        uploadLabel: "上传",
        //removeLabel: "移除"
    });


</script>
<div>
    @Html.ActionLink("返回列表", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
