<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Volkswagen</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)

    <!-- 以下内容是左侧边栏的模版格式 共三级 -->
    <style type="text/css" media="screen">
        #menu {
            float: left;
            z-index: 2;
        }
            /*1级*/
            #menu ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
            }

                #menu ul li {
                    position: relative;
                }
        /*2级*/
        div ul li ul {
            background: #ffffff;
            display: none;
            position: absolute;
            left: 100%;
            top: 0px;
            width: 200px;
            margin-left: 0px;
            border: 1px solid #CCC;
            border-left: none;
            border-right: none;
        }

            div ul li ul li {
                position: relative;
            }

        div ul li:hover ul {
            display: block;
        }
        /*3级*/
        #menu ul li ul li ul {
            display: none;
            position: absolute;
            left: 100%;
            top: 0px;
            width: 200px;
            margin-left: 0px;
            border: 1px solid #CCC;
            border-left: none;
        }

            #menu ul li ul li ul li {
                position: relative;
            }

        #menu ul li ul li:hover ul {
            display: block;
        }
    </style>
</head>
<body>

    <!-- body部分开始 首先是加载栏, 在加载时会显示 然后隐去 -->
    <!-- 这里有很多data-bind语法 可以不用弄懂 比较复杂但不重要 -->
    <div data-bind="visible: loading">正在加载...</div>

    <!-- 导航栏 -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- 导航栏头 即上海大众的标志 -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Home" class="navbar-brand" >上海大众</a>
        </div>

        <!-- 导航栏内容 由于按钮较多 放不下的话可以自己合并成下拉菜单-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- 下拉菜单项 -->
                <li class="dropdown">
                    <!-- href表示这个<a>可以点击 然后data-toggle表示是一个下拉菜单 span是一个向下箭头的显示图标 -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">设备 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("设备履历", "Index", "Equipment", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("设备保养计划", "Index", "Inspection", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("设备台账", "Index", "EquipLog", new { area = "" }, null)</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">备件 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("备件库存", "Index", "Spare", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("备件领用记录", "Index", "SpareUser", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("备件订购信息", "Index", "SpareOrder", new { area = "" }, null)</li>
                    </ul>
                </li>
                <!-- 这几项不是下拉菜单 在正常的导航栏位置上 -->
                <li>@Html.ActionLink("设备报修单", "Index", "Repair", new { area = "" }, null)</li>
                <li>@Html.ActionLink("交班记录", "Index", "Shift", new { area = "" }, null)</li>
                <li>@Html.ActionLink("设备维护", "Index", "Maintain", new { area = "" }, null)</li>
                <li>@Html.ActionLink("人员信息", "Index", "User", new { area = "" }, null)</li>
                <li>@Html.ActionLink("文件库", "Index", "File", new { area = "" }, null)</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">历史记录 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("设备履历", "Index", "ArEquipment", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("设备保养计划", "Index", "ArInspection", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("备件库存", "Index", "ArSpare", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("备件领用记录", "Index", "ArSpareUser", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("备件订购信息", "Index", "ArSpareOrder", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("设备报修单", "Index", "ArRepair", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("交班记录", "Index", "ArShift", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("设备台账", "Index", "ArEquipLog", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("设备维护", "Index", "ArMaintain", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("人员信息", "Index", "ArUser", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("文件库", "Index", "ArFile", new { area = "" }, null)</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理员操作 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("权限管理", "Index", "Authorize", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("创建用户", "UserRegister", "Authorize", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("重置密码", "ResetPassword", "Authorize", new { area = "" }, null)</li>
                    </ul>
                </li>
                
            </ul>
            <!-- 如果登录了 会显示名字 并由注销键 -->
            <ul class="nav navbar-nav navbar-right" data-bind="with: user">
                <li>
                    <span class="navbar-text nofloat">你好, <a href="#" class="navbar-link" data-bind="text: name, click: manage"></a>!</span>
                </li>
                <li><a href="#" data-bind="click: logOff">注销</a></li>
            </ul>
        </div>
    </div>

    <!-- 左侧栏 -->
    <div class="row">
        <div class="col-md-1" id="menu">
            <br />
            <ul class="nav nav-stacked nav-pills">

                <li class="active"><a>设备列表</a></li>

                @using Volkswagen.Controllers;
                @using Volkswagen.Models;
                @{
                    var db = new Volkswagen.DAL.SVWContext();
                    // 查询设备履历表 得到所有的WSNames 每个可以衍生出一个二级菜单
                    foreach (EquipmentModels.WSNames ws in typeof(EquipmentModels.WSNames).GetEnumValues())
                    {
                        <li>
                            <!-- 显示WSNames -->
                            <a>@ws.ToString()</a>

                            <!-- 二级菜单 -->
                            <ul class="nav nav-stacked nav-pills">
                                <!-- 查询工段 并衍生三级菜单 -->
                                @foreach (string s in db.Equipments.OrderByDescending(p => p.Section).Select(p => p.Section).Distinct())
                                {
                                    if (db.Equipments.Any(p => (p.Section == s) && (p.WSArea == ws)))
                                    {
                                        <li>
                                            <a>@(s.IsEmpty() ? "无工段" : s)</a>

                                            <!-- 三级菜单 -->
                                            <ul class="nav nav-stacked nav-pills">
                                               
                                                @foreach (EquipmentModels e in db.Equipments.Where(p => (p.Section == s) && (p.WSArea == ws)).ToList())
                                                {
                                                    string path = "/Equipment/Details/" + e.EquipmentID;
                                                    <li><a href=@path>@e.EquipDes</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }

                            </ul>
                        </li>

                    }


                    db.Dispose();
                }
            </ul>
        </div>

        <div class="col-md-11">
            <!-- 正文部分 委托各个View完成 -->
            @RenderBody()
        </div>

    </div>

    <hr />
    <footer style="padding-left:inherit">
        <p>&copy; @DateTime.Now.Year - 上海大众</p>
    </footer>
</body>
</html>