@model Volkswagen.Models.EquipmentModels

@{
    ViewBag.Title = "批量编辑设备履历";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>设备履历 - 批量编辑</h2>


@using (Html.BeginForm("ChangeMultiple", "Equipment"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @{
            int n = 0;
            List<Volkswagen.Models.EquipmentModels> l = ViewData["list"] as List<Volkswagen.Models.EquipmentModels>;
    foreach (Volkswagen.Models.EquipmentModels e in l)
    {
        string name = "item" + n;
        <input type="hidden" name="@name" value=@e.EquipmentID />
        n++;
    }
}

        <div class="form-group">
            @Html.LabelFor(model => model.EquipDes, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.EquipDes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipDes)
            </div>
            @Html.LabelFor(model => model.Person, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Person, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Person)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Section, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Section, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Section)
            </div>
            @Html.LabelFor(model => model.WSArea, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.DropDownList("WSArea", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.WSNames))), String.Empty)
                @Html.ValidationMessageFor(model => model.WSArea)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ItemInspect, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("ItemInspect", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.ThereBe))), String.Empty)
                @Html.ValidationMessageFor(model => model.ItemInspect)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RegularCare, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("RegularCare", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.ThereBe))), String.Empty)
                @Html.ValidationMessageFor(model => model.RegularCare)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Check, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("Check", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.ThereBe))), String.Empty)
                @Html.ValidationMessageFor(model => model.Check)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RoutingInspect, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("RoutingInspect", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.YesNo))), String.Empty)
                @Html.ValidationMessageFor(model => model.RoutingInspect)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remark)
                @Html.ValidationMessageFor(model => model.Remark)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    保存
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">修改确认</h4>
                            </div>
                            <div class="modal-body">
                                是否修改这些记录?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <input type="submit" value="确定" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
