@model Volkswagen.Models.EquipmentModels

@{
    ViewBag.Title = "设备履历 - " + Model.EquipmentID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>设备履历 - 详细</h3>

<div>
    <h4>@Model.EquipmentID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EquipDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WSArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WSArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemInspect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemInspect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegularCare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegularCare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Check)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoutingInspect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoutingInspect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Changer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Changer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @using System.Text.RegularExpressions;

            <div class="row">
                <div class="col-xs-6 col-md-3">
                        @{
                            string init = Model.Photo;
                            if (init == null)
                            {
                                <p>无</p>
                            }
                            else
                            {
                                <a class="thumbnail">
                                    @{string[] sArray = Regex.Split(init, "[$]");//, RegexOptions.IgnoreCase);
for (var i = 1; i < sArray.Length; i++)
{
    <img src='/img/equipments/@sArray[i]'>
}
}
                                </a>
                            }
                        }
                </div>
            </div>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.EquipmentID }) |
    @Html.ActionLink("返回列表", "Index")
</p>


