@model Volkswagen.Models.EquipmentModels

@{
    ViewBag.Title = "编辑设备履历 - " + Model.EquipmentID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>设备履历 - 编辑</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.EquipmentID</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EquipmentID)


        <div class="form-group">
            @Html.LabelFor(model => model.EquipDes, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextAreaFor(model => model.EquipDes, new { @class = "form-control", style = "height:50px" })
                @Html.ValidationMessageFor(model => model.EquipDes)
            </div>
            @Html.LabelFor(model => model.Person, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Person, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Person)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Section, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Section, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Section)
            </div>
            @Html.LabelFor(model => model.WSArea, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.DropDownList("WSArea", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.WSNames))), Model.WSArea)
                @Html.ValidationMessageFor(model => model.WSArea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemInspect, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("ItemInspect", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.ThereBe))), Model.ItemInspect)
                @Html.ValidationMessageFor(model => model.ItemInspect)
            </div>
            @Html.LabelFor(model => model.ItemInspectNum, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextAreaFor(model => model.ItemInspectNum, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ItemInspectNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegularCare, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("RegularCare", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.ThereBe))), Model.RegularCare)
                @Html.ValidationMessageFor(model => model.RegularCare)
            </div>
            @Html.LabelFor(model => model.RegularCareNum, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextAreaFor(model => model.RegularCareNum, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RegularCareNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Check, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("Check", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.ThereBe))), Model.Check)
                @Html.ValidationMessageFor(model => model.Check)
            </div>
            @Html.LabelFor(model => model.CheckNum, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextAreaFor(model => model.CheckNum, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CheckNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoutingInspect, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("RoutingInspect", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.EquipmentModels.YesNo))), Model.RoutingInspect)
                @Html.ValidationMessageFor(model => model.RoutingInspect)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remark)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    保存
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">修改确认</h4>
                            </div>
                            <div class="modal-body">
                                是否修改该条记录?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <input type="submit" value="确定" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="form-horizontal">
    <div class="row">
        @Html.LabelFor(model => model.Photo, new { @class = "control-label  col-md-2" })
        @using (Html.BeginForm("FileUpload", "Equipment", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group col-md-6">
                <input id="photo-input" type="file" class="file" name="photos" data-preview-file-type="any" multiple="multiple">
            </div>
            <input type="hidden" value=@Model.EquipmentID name="key" />
        }
    </div>
</div>

<script>
    var init = "@Model.Photo";
    var arr = new Array();

    arr = init.split('$');
    var init_arr = new Array();
    for (var i = 1; i < arr.length; i++) {
        init_arr[i - 1] = "<img src='/img/equipments/" + arr[i] + "' class='file-preview-image'>";
    }

    $("#photo-input").fileinput({
        initialPreview: init_arr,
        overwriteInitial: true,
        browseLabel: "浏览",
        uploadLabel: "上传",
        removeLabel: "移除",
        showPreview: true
    });


</script>

<div>
    @Html.ActionLink("返回列表", "Index")
</div>
