@model IEnumerable<Volkswagen.Models.ArMaintainModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Line)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MPart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponseClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckerType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Problem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Changer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipDes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Line)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MPart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Period)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResponseClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckerType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Checker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Problem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangeTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Changer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
