@model Volkswagen.Models.InspectionModels

@{
    ViewBag.Title = "批量编辑保养计划";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>设备保养计划 - 批量编辑</h3>


@using (Html.BeginForm("ChangeMultiple", "Inspection"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
@{
    int n = 0;
    List<Volkswagen.Models.InspectionModels> l = ViewData["list"] as List<Volkswagen.Models.InspectionModels>;
    foreach (Volkswagen.Models.InspectionModels e in l)
    {
        string name = "item" + n;
        <input type="hidden" name="@name" value=@e.InspectionId />
        n++;
    }
}
        @if (ViewData["valid"] == "no_foreign")
        {
            <label class=" alert-danger">设备不存在</label>
        }
        <label class="alert-info">填写要修改的字段， 不用修改的字段请留空</label>

        <div class="form-group">
            @Html.LabelFor(model => model.EquipmentID, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.EquipmentID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipmentID)
            </div>
            @Html.LabelFor(model => model.EquipDes, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.EquipDes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipDes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlanID, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.PlanID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PlanID)
            </div>
            @Html.LabelFor(model => model.Class, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("Class", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.InspectionModels.InspectionClass))), String.Empty)
                @Html.ValidationMessageFor(model => model.Class)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Part, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Part, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Part)
            </div>
            @Html.LabelFor(model => model.Position, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Position, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Position)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Content)
            </div>
            @Html.LabelFor(model => model.Period, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Period, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Period)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Caution, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Caution, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Caution)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remark)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    保存
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">修改确认</h4>
                            </div>
                            <div class="modal-body">
                                是否修改该条记录?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <input type="submit" value="确定" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
