@model Volkswagen.Models.InspectionModels

@{
    ViewBag.Title = "新建保养计划";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>设备保养计划 - 新建</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <!--<h4>InspectionModels</h4>-->
        <hr />
        @Html.ValidationSummary(true)

        @if (ViewData["valid"] == "no_foreign")
{
    <label class="alert-danger">设备不存在</label>
}

        <div class="form-group">
            @Html.LabelFor(model => model.EquipmentID, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.EquipmentID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipmentID)
            </div>
            @Html.LabelFor(model => model.EquipDes, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.EquipDes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipDes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlanID, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.PlanID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PlanID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Class, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("Class", new SelectList(Enum.GetValues(typeof(Volkswagen.Models.InspectionModels.InspectionClass))), String.Empty)
                @Html.ValidationMessageFor(model => model.Class)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Part, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Part, new { @class = "form-control" })
                <input type="button" value="新建保养部件" onclick="append_part()" class="btn btn-sm" />
                @Html.ValidationMessageFor(model => model.Part)
            </div>
            @Html.LabelFor(model => model.Position, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Position, new { @class = "form-control" })
                <input type="button" value="新建保养位置" onclick="append_position()" class="btn btn-sm" />
                @Html.ValidationMessageFor(model => model.Position)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Content)
            </div>
            @Html.LabelFor(model => model.Period, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Period, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Period)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Caution, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Caution, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Caution)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remark)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    新建
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">新建确认</h4>
                            </div>
                            <div class="modal-body">
                                是否新建该条记录?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <input type="submit" value="新建" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>

<script>
    var eid = document.getElementById("EquipmentID");
    eid.onchange = function () {
        var part = document.getElementById("Part");
        var pos = document.getElementById("Position");
        var new_part = document.getElementById("select_part_" + eid.value).cloneNode(true);
        var new_position = document.getElementById("select_position_" + eid.value).cloneNode(true);
        part.parentElement.replaceChild(new_part, part);
        pos.parentElement.replaceChild(new_position, pos);
        new_part.id = "Part";
        new_part.name = "Part";
        new_position.id = "Position";
        new_position.name = "Position";
    }
    function append_part() {
        var part = document.getElementById("Part");
        var new_part = document.getElementById("Part_reserve").cloneNode(true);
        part.parentElement.replaceChild(new_part, part);
        new_part.id = "Part";
        new_part.name = "Part";
    }
    function append_position() {
        var pos = document.getElementById("Position");
        var new_position = document.getElementById("Position_reserve").cloneNode(true);
        pos.parentElement.replaceChild(new_position, pos);
        new_position.id = "Position";
        new_position.name = "Position";
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<div hidden="hidden">
    @using Volkswagen.Controllers;
    @using Volkswagen.Models;
    @{
        var db = new Volkswagen.DAL.SVWContext();
        foreach (EquipmentModels e in db.Equipments)
        {
            @Html.DropDownList("select_part_" + e.EquipmentID, new SelectList(db.Inspections.Where(p => p.EquipmentID == e.EquipmentID).Select(p => p.Part).Distinct()));
            @Html.DropDownList("select_position_" + e.EquipmentID, new SelectList(db.Inspections.Where(p => p.EquipmentID == e.EquipmentID).Select(p => p.Position).Distinct()));
        }
        db.Dispose();
    }
    <input class="form-control" data-val="true" data-val-length="字段 保养部件 必须是最大长度为 30 的字符串。" data-val-length-max="30" id="Part_reserve" name="Part_reserve" type="text" value="" />
    <input class="form-control" data-val="true" data-val-length="字段 保养位置 必须是最大长度为 30 的字符串。" data-val-length-max="30" id="Position_reserve" name="Position_reserve" type="text" value="" />
</div>